body{
    background-color: yellowgreen;
    padding: 50px;
}
h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500px;
    padding: 50px;
    
}
p{
    color: yellowgreen;
    border: 50px solid palevioletred;
    padding: 40px;
    font-size: 100px;
}

div{
    border: 10px solid powderblue;
    border-radius: 25px;
    margin: 50px;
    padding: 55px;
    background-color: black;
}
